.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: system-ui;
}

.main h1 {
  margin-bottom: 20px;
}
.main h5 {
  margin-bottom: 50px;
  font-weight: 100;
}
